<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="a1" class="com.shahin.Araba">
        <constructor-arg name="name" value="VW"/>
        <constructor-arg name="model" value="jetta"/>
        <constructor-arg name="segment" value="A"/>
    </bean>
    <bean id="a2" class="com.shahin.Araba">
        <constructor-arg name="name" value="Mercedes"/>
        <constructor-arg name="model" value="c150"/>
        <constructor-arg name="segment" value="B"/>
    </bean>
    <bean id="a3" class="com.shahin.Araba">
        <constructor-arg name="name" value="Mazda"/>
        <constructor-arg name="model" value="cx-5"/>
        <constructor-arg name="segment" value="C"/>
    </bean>
    <bean id="arabalar" class="com.shahin.Arabalar">
        <constructor-arg name="arabalar">
            <list>
                <ref bean="a1"/>
                <ref bean="a2"/>
                <ref bean="a3"/>
            </list>
        </constructor-arg>
    </bean>



</beans>